.form {
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  max-width: calc(836px - 2 * 120px);
  width: calc(100% - 2 * 120px);
  height: calc(100vh - 158px - 168px);

  z-index: 10000;

  padding: 158px 120px 168px 120px;

  > form {
    > div {
      background: white;
      margin-bottom: 10px;
    }

    > h2 {
      font-family: Arial, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 41px;
      text-transform: uppercase;

      color: #131314;
      margin: 0 0 63px 0;
    }

    .variants {
      margin-bottom: 80px;

      > h3 {
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;

        margin-bottom: 30px;
      }

      .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 25px;
        row-gap: 30px;

        > * {
          display: flex;

          cursor: pointer;

          &.selected {
            .circle {
              background: #CAB28B;
            }

            .text {
              color: #CAB28B;
            }
          }
        }

        .circle {
          width: 10px !important;
          height: 10px !important;
          border-radius: 10px;
          background: #DEDEDE;
          margin-right: 15px;
          margin-top: 5px;
        }

        .text {
          font-family: Arial, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 21px;

          color: #131314;
          width: 282px;
        }
      }
    }

    .submit {
      display: flex;
      justify-content: space-between;
      align-items: center;

      > button {
        width: 200px;
        height: 50px;

        background: #CAB28B;
        border-radius: 5px;
        border: none;
        outline: none;

        display: flex;
        justify-content: center;
        align-items: center;

        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;

        cursor: pointer;

        color: #FFFFFF;
      }

      > p {
        width: 372px;

        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;

        color: #C7C7C7;
      }
    }
  }
}

.contacts {
  position: absolute;
  z-index: 10001;

  bottom: 0;
  right: 0;
  width: calc(100% - 216px - 120px);
  height: calc(119px - 27px - 31px);

  background: #F1F1F1;

  padding: 27px 216px 31px 120px;

  > h3 {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #131314;
    margin: 0 0 17px 0;
  }

  > div {
    display: flex;
    justify-content: space-between;

    > a {
      margin: 0;
      text-decoration: none;

      font-family: Arial, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;

      color: #131314;
    }
  }
}

.navToggle {
  z-index: 99999999;
  position: absolute;
  background: transparent;
  top: 44px;
  right: 33px;
  border: none;
  outline: none;

  > * {
    background: #131314;
    position: absolute;
    display: block;

    height: 2px;
    width: 20px;
  }

  .top {
    transform: rotate(45deg);
  }

  .bottom {
    transform: rotate(-45deg);
  }
}

@media screen and (max-width: 800px) {
  .form {
    max-width: calc(836px - 2 * 16px);
    width: calc(100% - 2 * 16px);
    height: calc(100vh - 80px - 65px);

    z-index: 10000;

    padding: 80px 16px 65px 16px;

    > form {
      > h2 {
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 30px;
      }

      .submit {
        flex-direction: column;

        > p {
          text-align: center;
        }
      }

      > .variants > .list {

        display: flex;
        flex-direction: column;
        row-gap: 0;
        column-gap: 0;

        > *:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.formSent {
  > form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .pBLack {
      font-family: Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;

      color: #131116;
    }

    > button {
      width: 200px;
      height: 50px;

      background: #CAB28B;
      border-radius: 5px;
      border: none;
      outline: none;

      display: flex;
      justify-content: center;
      align-items: center;

      font-family: Arial, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 18px;
      text-transform: uppercase;

      cursor: pointer;

      color: #FFFFFF;
    }


    > p {
      font-family: Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      text-align: center;

      color: #6B6B6B;
    }
  }
}